{% extends "account/_base_override.html" %}
{% load crispy_forms_tags %}
{% load account %}

{% block title %}Password Reset{% endblock title %}

{% block heading %}Password reset{% endblock heading %}
{% block description %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<p>We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise
    contact us if you do not receive it in a few minutes.</p>
{% endblock description %}